
@{
    ViewBag.Title = "about";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>

<p>
    Like you, we got fed up of checking various websites, sifting through the millions of junk emails and SMS’s to learn what DEALS are on and where. Then we thought… “wouldn’t it be nice if there was ONE website where ALL the DEALS in town were listed?”
</p>
<p>
    Guess what? We developed just that! We even came out with a catchy name! www.dealfinder.lk. Hope you like it and above all we really want you to SPREAD THE WORD!
</p>
<p>
    Our dedicated team of groovy boys and girls go through tonnes of websites, emails and SMS’s DAILY to get this information for you and put it all on DealFinder.lk.
    It’s free and very simple to use. Works well on all mediums, i.e. PC’s, tablets, smart phones, etc. Try it and you’ll like it!
    So, next time you feel like a Chinese (BTW we meant food ;-)) or a last minute weekend getaway all you need is DealFinder.lk – click and see ALL the offers on one page. So, start using and save loads of bling!
</p>
<p>
    … and about the more sexier side DealFinder.lk… we call it “MyDeals”… Don’t you hate when you get an offer for Korean Food when you hate it? And deals on a particular credit card when you don’t have that one? So, if you want to save time and see only what you want to see then just click and register indicating your preferences. Just login and click on MyDeals and you will only see the DEALS that are relevant to you! Clever isn’t it?
    Last but not least IF you want to receive alerts about new DEALS we can send you targeted emails and/or SMS’s as and when the deals come on. Remember, we will ONLY send alerts on DEALS that match your criteria.
</p>