
@{
    ViewBag.Title = "contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact</h2>

<div class="PageText">
    <div class="para">
        If you really like us and want to get in touch send us an email to <a href="mailto:touch@dealfinder.lk">
            touch@dealfinder.lk
        </a> and one of our groovy chaps will get back to you.
    </div>
    <div class="para">
        And if you are someone who wants to promote your DEAL on our site (the serious lot!)
        then email us at <a href="mailto:promote@dealfinder.lk">promote@dealfinder.lk</a>
        and one of our serious ones will get back to you!
    </div>
    <br />
    <br />
    <br />
</div>
