
@{
    ViewBag.Title = "Disclaimer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Disclaimer</h2>
<p>
    Information about the deals, promotions and other events are displayed solely for those who are the interested about them as guide and not as proprietary information. DealFinder.lk is not an Agent or a representative of entity or establishment whose information is set out in this website. DealFinder.lk has merely consolidated the available published data for your convenience. DealFinder.lk will not take the responsibility or any liability for the inaccuracy of the deals, promotions and event information of such publications including the event dates and times, venues or participating establishments, which may be verified by visiting the respective web pages of such establishments. Material displayed on this website must not be republished online or offline without permission.
</p>
