
@{
    Layout = null;
}

<h1>Favourites</h1>
<br/>
<div class="panel container" ng-controller="FavController">
    <h3 ng-hide="list.length"><i class="fa fa-star-o orange"></i>&nbsp;&nbsp;No favourites here!</h3>
    <ul class="deals-ul" style="list-style-type: none; margin: 0; padding: 0;">
        <li class="deal-row" ng-repeat="item in list">
            <h2>
                <a href="#/deals/{{item.DealSlug}}">{{ item.Title}}</a>
            </h2>
            <br />
            <div class="deal-row-desc" ng-bind-html="item.DealDesc">
            </div>
        </li>
    </ul>
</div>
