
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<DF.Domain.PartnerDeals>

<h2>@ViewBag.Partner</h2>
<br />

<ul class="deals-ul" style="list-style-type: none; margin: 0; padding: 0;">

    @foreach (var item in Model)
    {
        <li class="deal-row">
            <h2><a href="/deals/@Uri.EscapeDataString(item.DealSlug)">@item.Title</a></h2>
            <div class="deal-row-desc">
                @Html.Raw(item.DealDesc)
            </div>
        </li>
    }
</ul>