<div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default"><i class="fa fa-eye"></i>&nbsp;12 Viewed</button>
        <button type="button" class="btn btn-default"><i class="fa fa-heart pink"></i>&nbsp;24</button>
        <button type="button" class="btn btn-default"><i class="fa fa-star orange"></i>&nbsp;Add To Favorite</button>
        <button type="button" class="btn btn-default"><i class="btr bt-forward"></i>&nbsp;Share</button>
    </div>
</div>

