<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4>Deals</h4>
                <ul>
                    <li><a href="/category/top">Top Deals</a></li>
                    <li><a href="/category/dining">Dining</a></li>
                    <li><a href="/category/happy-hour">Happy Hour</a></li>
                    <li><a href="/category/accomodation">Accomodation</a></li>
                    <li><a href="/category/Health-beauty">Health & Beauty</a></li>
                    <li><a href="/category/travel">Travel & Leisure</a></li>
                    <li><a href="/category/fashion">Fashion</a></li>
                    <li><a href="/category/home-essentials">Home Essentials</a></li>
                    <li><a href="/category/electronics">Electronics</a></li>
                    <li><a href="/category/other">Other</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Partners</h4>
                <ul>
                    <li><a href="/partners/hsbc">HSBC</a></li>
                    <li><a href="/partners/amex">Amex</a></li>
                    <li><a href="/partners/commercial-bank">Commercial Bank</a></li>
                    <li><a href="/partners/sampath-bank">Sampath Bank</a></li>
                    <li><a href="/partners/hnb">HNB</a></li>
                    <li><a href="/partners/standard-charted">Standard Charted</a></li>
                    <li><a href="/partners/seylan">Seylan</a></li>
                    <li><a href="/partners/visa-card">Visa Card</a></li>
                    <li><a href="/partners/master-card">Master Card</a></li>
                    <li><a href="/partners/star-points">Star Points</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Social</h4>
                <ul>
                    <li><a href="https://www.facebook.com/lankadealfinder">Facebook</a></li>
                </ul>
                <br />
                <h4>Company</h4>
                <ul>
                    <li><a href="/home/about">About</a></li>
                    <li><a href="/home/contact">Contact</a></li>
                    <li><a href="/home/disclaimer">Disclaimer</a></li>
                </ul>
            </div>
            <div class="col-md-3"></div>
        </div>
        @*<div class="privacy hidden-xs">
            <a href="/">Privacy Policy</a>&nbsp;&nbsp;<a href="/">Terms & Conditions</a>
            <div class="pull-right">
                Copyright Redfly 2015
            </div>
        </div>*@
        <br />
        <br/>
        Copyright DealFinder.lk 2015
    </div>
</footer>