<ul class="nav navbar-nav navbar-right">
    <li><a href="/#/">Home</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Deals<i class="btr bt-angle-down nav-icon"></i></a>
        <ul class="dropdown-menu">
            <li><a href="/#/category/top">Top Deals</a></li>
            <li role="separator" class="divider"></li>
            @*<li class="dropdown-header">Nav header</li>*@
            <li><a href="/#/category/dining">Dining</a></li>
            <li><a href="/#/category/happy-hour">Happy Hour</a></li>
            <li><a href="/#/category/accomodation">Accomodation</a></li>
            <li><a href="/#/category/Health-beauty">Health & Beauty</a></li>
            <li><a href="/#/category/travel-leisure">Travel & Leisure</a></li>
            <li><a href="/#/category/fashion">Fashion</a></li>
            <li><a href="/#/category/home-essentials">Home Essentials</a></li>
            <li><a href="/#/category/electronics">Electronics</a></li>
            <li><a href="/#/category/other">Other</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Partners<i class="btr bt-angle-down nav-icon"></i></a>
        <ul class="dropdown-menu">
            <li><a href="/#/partners/hsbc">HSBC</a></li>
            <li><a href="/#/partners/amex">AMEX - American Express</a></li>
            <li><a href="/#/partners/commercial-bank">Commercial Bank</a></li>
            <li><a href="/#/partners/sampath-bank">Sampath Bank</a></li>
            <li><a href="/#/partners/hnb">HNB</a></li>
            <li><a href="/#/partners/standard-charted">Standard Charted</a></li>
            <li><a href="/#/partners/seylan">Seylan</a></li>
            <li><a href="/#/partners/visa-card">Visa Card</a></li>
            <li><a href="/#/partners/master-card">Master Card</a></li>
            <li><a href="/#/partners/star-points">Star Points</a></li>
        </ul>
    </li>
    @if (!User.Identity.IsAuthenticated)
    {
        <li><a href="/home/register">Register</a></li>
        <li><a href="/home/login/">Login</a></li>
    }
    @if (User.Identity.IsAuthenticated)
    {
        <li><a href="#">@User.Identity.Name</a></li>
        <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
    }
</ul>
