
<script>
    


</script>

<div class="main-search">
    <div class="input-group">
        <input type="text" class="form-control" id="search_text" placeholder="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-success" id="btnSearch" type="button" onclick="search()">Search</button>
        </span>
    </div>
</div>