<div class="top-ad">
    <div class="row">
        <div class="col-md-8 top-ad-bkg">
        </div>
        <div class="col-md-4 top-ad-content text-center">
            <h2>Card holders stay free at The Beach</h2><br/>
            <button class="btn btn-success">More information</button>
        </div>
    </div>
</div>
