<div class="vendor-short-profile">
    <div class="vendor-short-background">
        Pizzahut
    </div>
    <div class="vendor-short-desc">
        <div class="row">
            <a href="/vendor/pizzahut">
                <div class="col-sm-4">
                    DEALS<br/>
                    <span class="vendor-count">2300</span>
                </div>
                <div class="col-sm-4">
                    FOLLOWERS<br/>
                    <span class="vendor-count">12,000</span>
                </div>
                <div class="col-sm-4"></div>
            </a>
        </div>
        <br/>
        <button class="btn btn-info">
            <i class="btr bt-plus icon"></i>Follow
        </button>&nbsp;&nbsp;&nbsp;<span class="green"><i class="fa fa-check icon"></i>Verfied Account</span>
    </div>
</div>